.spinnerbox {
   background-color: rgba(14, 162, 170, 1);
   opacity: 0.90;
   height: 100%;
   width: 100%;
   top: 0;
   left: 0;
   position: fixed;
   overflow: show;
   -webkit-transition: all 1s ease;
   -o-transition: all 1s ease;
   transition: all 1s ease;
   z-index: 10000;
}
