.subtitle {
    margin-top: 10px;
}

.imgCard {
    background-color: rgb(255, 254, 254);
    width: 100%;
}

.CardNews {
    min-height: 450px;
    overflow: hidden;
}
.CardNews a {
    color: initial;
}